/* fonts */
@font-face{
    font-family : "railway-regular";
    src:url("/fonts/Raleway-Regular.ttf")
}
@font-face{
    font-family : "railway-medium";
    src : url("/fonts/Raleway-Medium.ttf")
}
@font-face{
    font-family : "railway-Bold";
    src : url("/fonts/Raleway-Bold.ttf")
}
@font-face{
    font-family : "railway-semiBold";
    src : url("/fonts/Raleway-SemiBold.ttf")
}
@font-face{
    font-family : "railway-black";
    src : url("/fonts/Raleway-Black.ttf")
}
@font-face{
    font-family : "railway-extraBold";
    src : url("/fonts/Raleway-ExtraBold.ttf")
}
/* fonts */


/* colors */
:root{
    --primary : #EEBF00;
    --secondary : #000000;
    --ternary : #6C6C6C;
    --danger : #FE4545;
    --pure : #FEFEFE;
    --light : #F0F0F0;
    --heaven : #FFFFFF;
    --footer : #20333F;
}
/* colors */


/* web page reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    -webkit-font-smoothing : antialiased;
    /* height: 5000px; */
    font-family: " railway-regular";
}

/* topbar */
.topbar{
    background-color:var(--secondary);
    padding: 0.75rem 0;
    font-family: "railway-Bold";
}

.topbar .container .icons a{
    margin-right: 0.60rem;
}

.topbar .container .aouth > div a{
    color: white;
    text-decoration: none;
}

.topbar .container .aouth > div img{
    margin-right: 0.40rem;
}

.topbar .container .aouth .divider{
    color: white;
    padding: 0 1rem;
}

/* topbar */

/* top */
.top{
    padding: 0.75rem 0;
}

.top .contact img,.top .time img{
    margin-right: 0.50rem;
}

.top .contact div h5,.top .time div h5{
    font-family: "railway-black";
}
.top .contact div h6,.top .time div h6{
    font-family: "railway-medium";
    letter-spacing: 0.055rem;
}

nav .navbar{
    margin-top: 1rem;
}

nav .navbar a{
    text-decoration: none;
    padding: 1rem 1.15rem;
    font-family: "railway-semiBold";
    color: var(--secondary);
    transition: all 0.3s ease-in;
}

nav .navbar a.active,nav .navbar a:hover{
    background-color:var(--primary);
    color: white;
}


/* top & navbar */
/* hero */

.hero{
    height: 600px;
    background-image: url("../images/hero.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
}

.hero .welcome{
    font-family: "railway-semiBold";
    font-size: 1.2rem;
}

.hero h1{
    font-family: "railway-Bold";
    font-size: 2rem;
    margin-top: 0.50rem;
}

.hero h1 span{
    color: var(--primary);
}

.hero p{
    width: 50%;
    font-family: "railway-medium";
    font-size: 0.80rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 0.050rem;
    word-spacing: 0.15rem;
}

.hero .straw{
    position: absolute;
    right: 150px;
}


/* hero */
/* slider */

.top-products{
    background-color: var(--light);
    padding: 4rem 0;
}

.top-products .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 5px;
    outline: none;
}

.top-products .food-card .product-img img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
}


hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}


.top-products .food-card h2{
    font-family: "railway-Bold";
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.top-products .food-card .stars{
    display: flex;
    justify-content: center;

}

.top-products .food-card .price{
    text-align: center;
    margin-bottom: 0.75rem;
    letter-spacing: 0.075rem;
    color: var(--danger);
    font-family: "railway-Bold";
    font-size: 1.25rem;
}

.top-products .food-card button{
    background: var(--heaven);
    color: var(--secondary);
    font-family: "railway-medium";
    border: 2px solid var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    outline: none;
}

.top-products .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}

.top-products .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
    border: 2px solid var(--primary);
}

.top-products .slider > button{
    width: 2%;
    height: 25px;
    background: var(--primary);
    border-radius: 4px;   
    border: none;
    outline: none;
}

.top-products .slider{
    position: relative;
}

.pre-btn{
    position: absolute;
    top: 46%;
    left: -2rem;
}

.next-btn{
    position: absolute;
    top: 46%;
    right: -2rem;
}

.top-products .btn-wrapper{
    margin-top: 2rem;
    text-align: center;
}

.slick-slide{
    margin: 0 27px;
}

.slick-list{
    margin: 0 -27px;
}

.slick-track{
    padding:1rem 0;
}

/* slider */

/* about  */

section .About-img img{
    width: 85%;
}

section.About h1{
    margin-top: 2rem;
}

section.About .about-content h2{
    font-family: "railway-semiBold";
    margin-bottom: 2rem;
}

section.About .about-content p{
    font-family: "railway-";
    line-height: 2rem;
    letter-spacing: 0.050rem;
    word-spacing: 0.1rem;
    margin-bottom: 2rem;
}

section.About .about-content .about-btn{
    text-align: left;
}

/* about  */

/* Services */

section.services{
    background: var(--light);
    position: relative;
    z-index: 0;
}

section.services h1{
    padding:2rem 0;
    padding-bottom: 3rem;
}

section.services .service-card{
    background: white;
    text-align: center;
    padding:2rem 1rem;
    position: relative;
    margin: 0 0.75rem;
    border-radius: 5px;
    
}

section.services .card-wrapper{
    padding-bottom: 3rem;
}

section.services .service-card img{
    position: absolute;
    left: 38%;
    top: -3rem;
}

section.services .service-card h2{
    font-family: "railway-Bold";
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;

}

section.services .service-card p{
    margin-bottom: 1rem;
    font-family: 'railway-regular';
    font-size: 0.80rem;
}




/* Services */
/* deals */
section.big-deals{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ),url(../images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


section.big-deals h1{
    padding: 0.75rem 0;
}

section.big-deals .timer{
    padding-bottom: 3rem;
}

section.big-deals .timer div{
    width : 120px;
    height: 120px;
    background: var(--primary);
    margin-right: 1rem;
    flex-direction: column;
    border-radius: 5px;
    
}

section.big-deals .timer div span:first-child{
    color: white;
    font-family: "railway-semiBold";
    font-size: 2rem;
    
}

section.big-deals .timer div span:last-child{
    color: white;
    font-family: "railway-semiBold";
}



/* deals */
/* latest */
section.latest{
    background: var(--light);
    position: relative;
    z-index: 0;
}


section.latest h1{
    padding-top: 1rem;
}

section.latest .article-wrapper{
    padding-bottom: 3rem;
    margin-right: -1rem;
}

section.latest .article-wrapper article{
    background: white;
    margin-right: 1rem;
    border-radius: 5px;
}

section.latest .article-wrapper article .article-content{
    padding: 1rem;
}

section.latest .article-wrapper article img{
    width: 100%;
}

section.latest .article-wrapper article .meta-data{
    font-family: "railway-medium";
    margin-bottom: 0.75rem;
}

section.latest .article-wrapper article .meta-data div span:last-child{
    margin: 0 1rem;
}

section.latest .article-wrapper article h2{
    font-family: "railway-Bold";
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
}

section.latest .article-wrapper article p{
    font-family: "railway-medium";
    font-size: 0.80rem;
    line-height: 1.5; 
}

section.latest div:last-child{
    padding-bottom: 1.5rem;
}

/* latest */
/* subscribe */
section.subscribe{
    background: var(--primary);
}

section.subscribe .subscribe-content{
    padding: 2rem 0;
}

section.subscribe .container img{
    width: 80%;
}

section.subscribe .container h2{
    font-family: "railway-bold";
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

section.subscribe .container p{
    font-family: "railway-normal";
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

section.subscribe .container .input-wrap{
    background: white;
    padding: 0.4rem;
    border-radius: 5px;

}

section.subscribe .container .input-wrap input{
    width: 100%;
    padding: 0.25rem 0.75rem;
    border: none;
    outline: none;
}

section.subscribe .container .input-wrap button{
    border: none;
    outline: none;
    background: var(--primary);
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 5px;

}


/* subscribe */
/* contact */
section.contact-us .contact-info-wrapper h3{
    padding-top: 1rem;
}

section.contact-us .contact-info-wrapper > div > div > div{
    margin-bottom: 1rem;
}

section.contact-us .contact-info-wrapper > div > div{
    padding: 1rem;
}

section.contact-us .contact-info-wrapper > div > div > div img{
    margin-right: 0.75rem;
}

section.contact-us .contact-info-wrapper > div > div > div > div span:first-child{
    font-family: "railway-Bold";
    font-size: 1rem;
}

section.contact-us .contact-info-wrapper > div > div > div > div span:last-child{
    font-family: "railway-regular";
    font-size: 0.80rem;
}

section.contact-us .map{
    filter: grayscale(100%);
}


/* contact */
/* footer */

footer .container{
    padding: 2rem 0;
    color: white;
}

footer .box{
    text-align: center;
    margin-right: 1rem;
}

footer{
    background: var(--footer);
}

footer .insta-api .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .insta-api .img-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

footer .insta-api .img-wrap > div{
    width: calc(1/3*100% - (1-1/3)*10px);
    margin-bottom: 10px;
}

footer .box h2{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary);
}

footer .box p{
    font-family: "railway-normal";
    margin: 1rem 0;
}

footer .box ul{
    list-style-type: none;
    margin-top: 1rem;
}

footer .box ul li{
    margin-bottom: 0.50rem;
}

footer .box ul li a{
    font-family: "railway-normal";
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in
}

footer .box ul li a:hover{
    color: var(--primary);
}


footer .box:nth-child(3) > div{
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
    padding-top : 1rem ;
}

footer .box:nth-child(3){
    text-align: left;
}

footer .box:nth-child(3) h2{
    text-align: center;
}

footer .box:nth-child(3) > div img{
    margin-right: 0.50rem;
}

footer.copyright{
    padding: 1rem;
    background: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: "railway-semiBold";
}

footer.copyright div a{
    color: var(--primary);
    text-decoration: none;
    font-size: 1.2rem;
}
/* footer */


/* utility class */
.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.justify-btw{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.shadow{
    position: relative;
    background-color: white;
}
.shadow-sm{
    position: relative;
    background-color: white;
}

.shadow:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url("../icons/shadow.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: -11px;
    opacity: 0.8;
    z-index: -1;
    
}
.shadow-sm:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url("../icons/shadow-sm.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: -20px;
    opacity: 0.8;
    z-index: -1;
    
}

.btn{
    padding: 0.50rem 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-family: "railway-semiBold";
    border: 2px solid transparent;
    transition: all 0.2s ease-in;
    outline: none;

}

.btn-primary{
    color:var(--secondary);
    background-color:var(--primary);
    margin-right: 0.50rem;
}

.btn-primary:hover{
    color:var(--primary);
    background:transparent;
    border: 2px solid var(--primary);
}

.btn-secondary{
    color: var(--primary);
    background-color:var(--secondary);
}

.btn-secondary:hover{
    color:var(--secondary);
    background:transparent;
    border: 2px solid var(--secondary);
}


.section-heading{
    font-family: "railway-Bold";
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
}

.section-heading::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url("../icons/hr.svg");
    background-repeat: no-repeat;
    background-position: center;
}



/* media quiries */
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width : 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width : 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width : 1200px){
    .container{
        max-width: 1152px;
    }
}